---
import Layout from '../../layouts/Layout.astro';
import { fetchArticle, fetchArticles } from '../../lib/strapi';
import showdown from "showdown"

export async function getStaticPaths() {
    const articles = await fetchArticles()
    return articles.map(article => ({
        params: { slug: article.attributes.slug },
        props: { id: article.id }
    }))
}

const { id } = Astro.props
const article = await fetchArticle(id)
const converter = new showdown.Converter()
const content = converter.makeHtml(article.attributes.content)
---
<Layout title={article.attributes.seo.metaTitle} description={article.attributes.seo.metaDescription} type="article">
    <div class="container flex flex-col pt-16 gap-6">
        <div class="flex flex-col gap-2">
            <h1 class="font-bold text-3xl">{article.attributes.title}</h1>
            <span class="text-subtext0">{new Date(article.attributes.publishedAt).toLocaleString("en", { dateStyle: "long" })}</span>
        </div>
        <article class="flex flex-col gap-2 render-markdown" set:html={content} />
    </div>
</Layout>
<style is:global lang="less">
    .render-markdown {
        h2 {
            @apply font-bold text-2xl;
        }

        h3 {
            @apply font-bold text-lg;
        }

        code {
            @apply bg-surface0 px-1;
        }
        
        pre {
            @apply bg-surface0 rounded-md p-1;
        }

        a {
            @apply text-green hover:underline;
        }

        ul {
            @apply list-disc ml-8;
        }

        blockquote {
            @apply ml-2 bg-surface0 p-1 rounded-md;
        }
    }
</style>