---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Kaio Lima" description="A software engineer based in Brazil. With a passion for coding and specialized in building websites that brings ideas to life.">
	<div class="w-full h-screen grid place-items-center">
        <div class="flex flex-col gap-2">
            <h1 class="text-green text-4xl font-bold text-center">404</h1>
            <span>Page Not Found</span>
        </div>
	</div>
</Layout>