---
import { Icon } from 'astro-icon'

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="mocha transition-colors duration-500 bg-base text-text">
		<div class="absolute flex align-center top-0 right-0 m-1">
			<a href="https://github.com/kaio-cblima" target="_blank" aria-label="Open my github"><Icon name="github" class="w-10 h-10 m-2 fill-text"></Icon></a>
			<button id="change-theme" aria-label="Change Theme">
				<Icon name="sun" class="w-10 h-10 m-2 fill-text mocha-only"></Icon>
				<Icon name="moon" class="w-10 h-10 m-2 fill-text latte-only"></Icon>
			</button>
		</div>
		<slot />
	</body>
</html>
<script>
	type Theme = "mocha" | "latte"
	const changeTheme = (theme: Theme) => {
		document.body.classList[theme === "mocha" ? "add" : "remove"]("mocha")
		document.body.classList[theme === "mocha" ? "remove" : "add"]("latte")
		localStorage.setItem("theme", theme)
	}
	changeTheme(localStorage.getItem("theme") as Theme || "mocha")
	// Only shows body after theme is applied
	document.body.classList.remove("hidden")
	document.querySelector("#change-theme")!.addEventListener("click", () => changeTheme(document.body.classList.contains("mocha") ? "latte" : "mocha"))
</script>
<style is:global>
	.latte .mocha-only {
		display: none;
	}

	.mocha .latte-only {
		display: none;
	}

	html, body { height: 100%; }
	body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

	.container {
		margin-left: auto;
		margin-right: auto;
	}

	@media (min-width: 640px) {
		.container {
			max-width: 600px;
		}
	}

	@media (min-width: 768px) {
		.container {
			max-width: 720px;
		}
	}

	@media (min-width: 1024px) {
		.container {
			max-width: 992px;
		}
	}

	@media (min-width: 1280px) {
		.container {
			max-width: 1230px;
		}
	}

	@media (min-width: 1536px) {
		.container {
			max-width: 1470px;
		}
	}
</style>